<!doctype html>
<title>{% block title %}{% endblock %} 🏁</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Album generator</h1>
  {% if g.user %}
  <ul class="nav-list">
    <li class="nav-item">
      <a href="{{ url_for('album.index', album_type='pop punk') }}">Get pop-punk 👽</a>
      <div class="dropdown-menu">
        <a href="{{ url_for('album.index') }}" class="nav-link">Get random 🎲</a>
        <a href="{{ url_for('album.index', album_type='emo') }}">Get emo 🏁</a>
      </div>
    </li>
  </ul>
  <ul>
  <li><a href="{{ url_for('history.index') }}">History</a>
    <!-- <li><a href="{{ url_for('album.index') }}">Get Album</a> -->
      <li><a href="{{ url_for('blog') }}">Posts</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        
        {% else %}<ul>
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
hi
hi
hi