<!doctype html>
<title>{% block title %}{% endblock %} - Jim's cool website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Jimball's Pop Punk album generator</h1>
  <ul>
    <li><a href="{{ url_for('blog.index') }}">Posts 💌</a>
      {% if g.user %}
      <li><a href="{{ url_for('album.index') }}">Get Album 🎲</a>
        <li><a href="{{ url_for('auth.logout') }}">Log Out: 😘</a>
          <li><span>{{ g.user['username'] }} 🩵</span></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register 👽</a>
      <li><a href="{{ url_for('auth.login') }}">Log In 🍕</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
